.footer{
    &__container{
        @extend .container;
        margin-bottom: 120px;
    }
    &__margin{
        margin-top: 120px;
    }
    &__top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-caption{
            @include font-Work-sans-700-40;
        }
        &-left{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        &-text{
            @include font-Montserrat-500-18;
            font-size: 1.12em;
        }
        &-right{
            display: flex;
            align-items: center;
            column-gap: 30px;
            @include media ('915px')
            {
                flex-direction: column;
                row-gap: 20px;
            }
            &-content{
                display: flex;
            }
        }
    }
    &__arrows{
        margin-left:20px;
        margin-right: 23px;
        stroke:#9C69E2;
    }
    &-style:hover .footer__arrows{
        stroke: #FFFFFF;
    }
    &__button-style{
        background-color: #FFFFFF;
            @include font-Montserrat-500-16;
            font-size: 1em;
            letter-spacing: 0.005em;
            color:#212353;
            border: 1px solid #9C69E2;
             border-radius: 50px;
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);

        &-learn{
            display: flex;
            align-items: center;
            @include font-Montserrat-500-18;
            font-size: 1em;
            letter-spacing: 0.005em;
            background-color: #F063B8;
            color:#FFFFFF;
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            border: 0px solid #9C69E2;
            border-radius: 50px;
            min-height: 60px;
            padding-left: 52px;
            padding-right: 52px;
            &:hover{
                background-color: #EB4BAB;
                cursor: pointer;
                color:#FFFFFF;
            }
            }
            &:hover{
                background-color: #9C69E2;
                cursor: pointer;
                color:#FFFFFF;
            }
            &:hover .footer__arrows{
                stroke: #FFFFFF;
            }
            &-padding{
                padding-left: 23px;
                min-height: 60px;
                display: flex;
                align-items: center;
                }
            }
        &__bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-margin{
                margin-top: 100px;
            }
            &-left{
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }
        }
        &__logo{
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            &_svg{
                max-width: 49px;
                max-height: 35px;
            }
            &-text{
                font-family: "Montserrat";
                font-size: 1.25em;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: 0em;
                text-align: left;
            }
            &-padding{
                padding-bottom: 50px;
            }
        }
        &__adress{
            @include font-Montserrat-500-18;
            font-size: 1em;
            letter-spacing: 0.01em;
        }
        &__number{
            @include font-Montserrat-500-18;
            font-size: 1em;
            letter-spacing: 0.01em;
        }
        &__reserved{
            font-family: "Montserrat";
            font-size: 0.75em;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0.01em;
            text-align: left;
            &-padding{
                padding-top: 99px;
            }
        }
        &__middle{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            &-item a:hover{
                color:#8A40EE;
                cursor: pointer;
            }
            &-item a:active{
                color:#8A40EE;
                cursor: pointer;
            }
            &-span{
                @include font-Montserrat-600-16; 
                line-height: 36px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            &-list{
                display: flex;
                flex-direction: column;
                list-style: none;
                row-gap: 10px;
                @include font-Montserrat-500-16;
             
            }
        }
    &__right{
        display: flex;
         flex-direction: column;
         row-gap: 30px;
         &-span{
             @include font-Montserrat-600-16; 
             display: flex;
             flex-direction: row;
             align-items: center;
             &-margin{
                margin-top: 7px;
            }
    }
    &-list{
        display: flex;
        list-style: none;
        flex-direction: row;
        column-gap: 15px;
        @include font-Montserrat-500-16;
        & a{
            display: flex;
                justify-content: center;
                align-items: center;
                background-color: #C0C0C0;
                max-width: 50px;
                max-height: 50px;
                border-radius: 50%;
                color: #4B5D68;
                }
        }
    }
    &__icon{
        max-width: 50px;
        max-height: 50px;
        padding: 15px;
        fill: white;
    }
    
    &__icon:hover{
        fill: #00ACEE;
    }
    
    &__right-item &__right-link:hover &__icon {
        fill: #00ACEE;
         background-color: white;
     }

     &__right-item &__right-link_facebook:hover {
        outline: 1px solid #3B5998; 
     }
     &__right-item &__right-link_facebook:hover &__icon {
        fill: #3B5998; 
        background-color: white;
     }
     &__right-item &__right-link_instagram:hover {
        outline: 1px solid #C13584; 
     }
     &__right-item &__right-link_instagram:hover &__icon {
        fill: #C13584; 
        background-color: white;
     }
     &__right-item &__right-link:hover {
        outline: 1px solid #00ACEE;

     }
     &__right-item:hover{
        border-color: #00ACEE;
     }
}  