body{
  font-size: 16px;
}
h1,h2{
  margin: 0px;
  padding: 0px;
}
.container{
  max-width: 1170px;
  margin: 0px auto;
  width: 90%;
}
a{
  text-decoration: none;
  color: #4B5D68;
}
*, *::before, *::after{
	box-sizing: border-box;

}
* {
  margin: 0;
  padding: 0;
}
#footer__facebook{
  display: flex;
  justify-content: center;
  align-items: center;
}
svg path {
  fill: inherit;
}