@mixin font-Montserrat-500-16{
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}
@mixin font-Montserrat-500-18{
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
@mixin font-Montserrat-500-14{
    font-family: "Montserrat";
    font-size: 0.87em;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;

}
@mixin font-Work-sans-700{
    font-family: "Work Sans";
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
}
@mixin font-Montserrat-600-16{
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}
@mixin font-Work-sans-700-40{
    font-family: "Work Sans";
    font-size: 2.5em;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
}
@mixin font-Work-sans-400-24{
    font-family: "Work Sans";
    font-size:  1.5em;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color:#212353;
}
@mixin font-Montserrat-400-16{
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color:#4B5D68;
}
@mixin font-Montserrat-700-16{
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.005em;
    text-align: left;
    color:#212353;

}
@mixin media($resolution){
    @media (max-width: $resolution){
        @content;
    }
}
@mixin media_min ($resolution){
    @media (min-width: $resolution){
        @content;
    }
}