$monserat: "Montserrat", sans-serif;
$openSans: "Open Sans", sans-serif;
$sourceSans: "Source Sans Pro", sans-serif;
$white: #ffffff;
$black: #000000;
$main: #2c4058;
$border: #4b5562;
$blue: #55b7ff;
$purple: #7e5aff;
$button-bg: $purple;
$baby-blue: #f8faff;
