html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

hr {
  height: 0;
  box-sizing: content-box;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  display: table;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  max-width: 100%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
}
@media screen and (max-width: 500px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
}
.menu__list {
  list-style: none;
  gap: 3rem;
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
}
.menu__item::after {
  height: 3px;
  top: 100%;
  right: 0;
  position: absolute;
  content: "";
  background: linear-gradient(96.73deg, #53f3cd 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.menu__item:hover::after {
  width: 100%;
}
.menu__link {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.08em;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.burger {
  position: relative;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
  margin: 0 auto;
  width: 1170px;
}
@media screen and (max-width: 1439px) {
  .burger {
    width: 81.25vw;
  }
}
.burger__nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 5;
  background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.burger__list {
  margin: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
}
.burger__item {
  position: relative;
}
.burger__item::after {
  width: 0;
  height: 3px;
  top: 100%;
  right: 0;
  position: absolute;
  content: "";
  background: linear-gradient(96.73deg, #53f3cd 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.burger__item:hover::after {
  width: 100%;
}
.burger__link {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.08em;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.header__burger-switch:checked ~ .body__all > .header > .burger {
  transform: scale(1);
}
@media screen and (min-width: 901px) {
  .header__burger-switch:checked ~ .body__all > .header > .burger {
    transform: scale(0);
  }
}

.body__all {
  padding-top: 3rem;
  background-color: #161926;
}
@media screen and (max-width: 1439px) {
  .body__all {
    padding-top: 2.0833333333vw;
  }
}
.body__background-wrapper {
  max-width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.body__background-wrapper--light {
  transform: scale(0);
}
.body__background-wrapper--light::after {
  width: 100%;
  height: 57vw;
  position: absolute;
  top: 32vw;
  content: "";
  background: linear-gradient(183.11deg, rgba(255, 255, 255, 0) 46.73%, #ffffff 63.21%);
}
.body__background-wrapper--dark {
  transform: scale(1);
}
.body__background-wrapper--dark::before {
  width: 100%;
  height: 51vw;
  content: "";
  position: absolute;
  top: 30vw;
  background: linear-gradient(183.11deg, rgba(22, 25, 38, 0) 46.73%, #161926 63.21%);
}
.body__background-img {
  width: 100%;
}

.header__background {
  background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.header__container {
  position: relative;
  margin: 0 auto;
  width: 1170px;
}
@media screen and (max-width: 1439px) {
  .header__container {
    width: 81.25vw;
  }
}
.header__wrapper {
  justify-content: space-between;
  padding: 24px 0;
  display: flex;
  align-items: center;
}
.header__logo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.header__logo-img {
  max-width: 100%;
}
.header__burger-switch {
  display: none;
}
.header__burger-menu {
  display: none;
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.08em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (max-width: 900px) {
  .header__burger-menu {
    display: block;
  }
}
.header__burger-menu::after {
  width: 0;
  top: 100%;
  right: 0;
  height: 3px;
  position: absolute;
  content: "";
  background: linear-gradient(96.73deg, #53f3cd 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.header__burger-menu:hover::after {
  width: 100%;
}

.first__container {
  margin: 0 auto;
  width: 1170px;
}
@media screen and (max-width: 1439px) {
  .first__container {
    width: 81.25vw;
  }
}
.first__wrapper {
  max-width: 52.3rem;
  margin: 15rem 0;
}
@media screen and (max-width: 1439px) {
  .first__wrapper {
    margin: 10.4166666667vw 0;
  }
}
@media screen and (max-width: 500px) {
  .first__wrapper {
    margin: 50px 0;
  }
}
.first__title {
  position: relative;
  font-size: 4.4rem;
  line-height: 5.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
}
.first__title--strong {
  font-style: italic;
}
.first__title--strong {
  color: #689ff2;
}
.first__text {
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1.8rem;
  line-height: 144%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
@media screen and (max-width: 1439px) {
  .first__text {
    margin-top: 1.3888888889vw;
    margin-bottom: 3.4722222222vw;
  }
}
@media screen and (max-width: 500px) {
  .first__text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.first__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #53f3cd;
}
.first__link--text {
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0.08em;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.first__link--text::before {
  position: absolute;
  content: "";
  top: 1.1rem;
  bottom: -0.4rem;
  right: -0.7rem;
  left: 1rem;
  transition: all 0.3s ease-in-out;
}
.first__link--text::before {
  background-color: #53f3cd;
  opacity: 0.3;
}
.first__link:hover {
  color: #02e0ab;
}
.first__link:hover > .first__link--text::before {
  background-color: #02e0ab;
}

.info__container {
  margin: 0 auto;
  width: 1170px;
  margin-top: 12rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1439px) {
  .info__container {
    width: 81.25vw;
  }
}
@media screen and (max-width: 500px) {
  .info__container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.info__wrapper {
  position: relative;
}
.info__img-wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.info__img-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(359.55deg, rgba(33, 36, 54, 0.5) 0.64%, rgba(33, 36, 54, 0) 94.04%);
}
@media screen and (max-width: 900px) {
  .info__img-wrapper {
    position: absolute;
  }
}
.info__img {
  max-width: 100%;
}
@media screen and (max-width: 1439px) {
  .info__img {
    max-width: 81.25vw;
  }
}
.info__content {
  max-width: 770px;
  position: absolute;
  display: flex;
  padding: 4.5rem 0;
  margin-left: 4.5rem;
  top: 4.5rem;
  bottom: 4.5rem;
  right: 0;
  opacity: 0.9;
  background-color: #161926;
}
@media screen and (max-width: 900px) {
  .info__content {
    position: relative;
    flex-direction: column;
    gap: 4rem;
    padding: 4.5rem;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 900px) and (max-width: 1439px) {
  .info__content {
    padding: 3.125vw;
  }
}
@media screen and (max-width: 500px) {
  .info__content {
    padding: 2rem;
    padding-bottom: 0;
  }
}
.info__statistic {
  min-width: 37rem;
  justify-content: space-between;
  flex-direction: column;
  gap: 4rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .info__statistic {
    min-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .info__statistic {
    gap: 2rem;
  }
}
.info__statistic-item {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.info__statistic-title {
  font-size: 6.8rem;
  line-height: 106%;
  text-align: center;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.info__statistic-title--icon {
  margin-right: 1rem;
  font-size: 4rem;
  line-height: 125%;
  text-align: center;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.info__statistic-descr {
  margin-top: 1.2rem;
  text-align: center;
  opacity: 0.8;
  font-size: 1.8rem;
  line-height: 144%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.info__statistic-divider {
  width: 10rem;
  min-height: 0.2rem;
  display: inline-block;
  background-color: #689ff2;
}
.info__statistic-divider--none {
  display: none;
}
@media screen and (max-width: 900px) {
  .info__statistic-divider--none {
    display: inline-block;
  }
}
.info__descr-text {
  font-size: 1.8rem;
  line-height: 144%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.info__descr-text + .info__descr-text {
  margin-top: 2.6rem;
  margin-bottom: 5rem;
}
.info__descr-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #53f3cd;
}
.info__descr-link--text {
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0.08em;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.info__descr-link--text::before {
  position: absolute;
  content: "";
  top: 1.1rem;
  bottom: -0.4rem;
  right: -0.7rem;
  left: 1rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 500px) {
  .info__descr-link {
    margin-bottom: 50px;
  }
}
.info__descr-link--text::before {
  background-color: #53f3cd;
  opacity: 0.3;
}
.info__descr-link:hover {
  color: #02e0ab;
}
.info__descr-link:hover > .info__descr-link--text::before {
  background-color: #02e0ab;
}

.benefits__container {
  margin: 0 auto;
  width: 1170px;
  margin-top: 12rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1439px) {
  .benefits__container {
    width: 81.25vw;
  }
}
@media screen and (max-width: 500px) {
  .benefits__container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.benefits__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6rem 3rem;
}
@media screen and (max-width: 1439px) {
  .benefits__wrapper {
    row-gap: 4.1666666667vw;
  }
}
@media screen and (max-width: 900px) {
  .benefits__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .benefits__wrapper {
    width: 100%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
  }
}
.benefits__item {
  width: 100%;
  padding: 5rem 3.5rem 2.6rem 3.5rem;
  border-top: 1px solid #515773;
}
@media screen and (max-width: 1439px) {
  .benefits__item {
    padding: 3.4722222222vw 2.4305555556vw 1.8055555556vw 2.4305555556vw;
  }
}
@media screen and (max-width: 500px) {
  .benefits__item {
    padding: 2rem;
  }
}
.benefits__title {
  margin-top: 5rem;
  font-size: 4.4rem;
  line-height: 5.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
}
.benefits__title--strong {
  font-style: italic;
}
@media screen and (max-width: 1439px) {
  .benefits__title {
    margin-top: 3.4722222222vw;
  }
}
.benefits__title--strong {
  color: #689ff2;
}
.benefits__descr {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 144%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.quote {
  font-size: 1em;
  /*
  	&__wrapper {
          position: absolute;
  		margin: 10rem 16rem;
  		display: flex;
  		flex-direction: column;
  		justify-content: space-between;
  	}
  */
}
@media screen and (max-width: 680px) {
  .quote {
    font-size: 0.8em;
  }
}
.quote__container {
  overflow: hidden;
  margin: 0 auto;
  width: 1170px;
  margin-top: 12rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1439px) {
  .quote__container {
    width: 81.25vw;
  }
}
@media screen and (max-width: 500px) {
  .quote__container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.quote__wrapper {
  position: relative;
}
.quote__img-wrapper {
  position: absolute;
  overflow: hidden;
}
.quote__img-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(25, 28, 41, 0.84), rgba(25, 28, 41, 0.84));
}
.quote__img {
  max-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.quote__text-wrapper {
  width: 100%;
  padding: 10rem 16rem;
}
@media screen and (max-width: 1439px) {
  .quote__text-wrapper {
    padding: 6.9444444444vw 11.1111111111vw;
  }
}
.quote__text {
  max-width: 71rem;
  position: relative;
  font-size: 3.2em;
  line-height: 144%;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.quote__text::before {
  content: url(../images/iconDark.png);
  position: absolute;
  top: -3rem;
  left: -6rem;
}
.quote__title {
  position: relative;
  margin-top: 4rem;
  font-style: italic;
  font-size: 2em;
  line-height: 100%;
  letter-spacing: 0.08em;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  .quote__title {
    margin-top: 3rem;
  }
}

.video__container {
  margin: 0 auto;
  width: 1170px;
  margin-top: 12rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1439px) {
  .video__container {
    width: 81.25vw;
  }
}
@media screen and (max-width: 500px) {
  .video__container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.video__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 97rem;
}
.video__title {
  font-size: 4.4rem;
  line-height: 5.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
  margin-top: 5rem;
}
.video__title--strong {
  font-style: italic;
}
.video__title--strong {
  color: #689ff2;
}
@media screen and (max-width: 1439px) {
  .video__title {
    margin-top: 3.4722222222vw;
  }
}
@media screen and (max-width: 500px) {
  .video__title {
    margin-top: 2rem;
  }
}
.video__descr {
  font-size: 1.8rem;
  line-height: 144%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
  max-width: 81rem;
  margin-top: 3rem;
}
@media screen and (max-width: 1439px) {
  .video__descr {
    margin-top: 2.0833333333vw;
  }
}
@media screen and (max-width: 500px) {
  .video__descr {
    margin-top: 2rem;
  }
}
.video__content {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #515773;
  border-radius: 3.2rem;
}
@media screen and (max-width: 1439px) {
  .video__content {
    border-radius: 2.2222222222vw;
  }
}
.video__content-little {
  display: flex;
  flex-grow: 5;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid #515773;
  border-radius: 50%;
  margin-left: 0.8rem;
  margin-right: 0.9rem;
}
@media screen and (max-width: 1439px) {
  .video__content-little {
    width: 0.9027777778vw;
    height: 0.9027777778vw;
    margin-left: 0.5555555556vw;
    margin-right: 0.625vw;
  }
}
.video__content-big {
  display: flex;
  flex-grow: 5;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #515773;
  border-radius: 50%;
  margin-left: 2.1rem;
  margin-right: 1.4rem;
}
@media screen and (max-width: 1439px) {
  .video__content-big {
    width: 2.4305555556vw;
    height: 2.4305555556vw;
    margin-left: 1.4583333333vw;
    margin-right: 0.9722222222vw;
  }
}
.video__content-player-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  border-radius: 1rem;
}
.video__content-player-wrapper:hover > .video__content-saver {
  transform: rotateZ(180deg) translateX(100%);
}
.video__content-frame-wrapper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 3.1rem 0;
  overflow: hidden;
  border: 1px solid #515773;
  border-radius: 1rem;
}
@media screen and (max-width: 1439px) {
  .video__content-frame-wrapper {
    margin: 2.1527777778vw 0;
  }
}
.video__content-saver {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.1rem 0;
  overflow: hidden;
  border: 1px solid #515773;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  transform: rotateZ(0) translateX(0);
}
.video__content-saver::before {
  position: absolute;
  content: "";
  width: 12rem;
  height: 12rem;
  background-color: #689ff2;
  opacity: 0.3;
  border-radius: 50%;
}
@media screen and (max-width: 900px) {
  .video__content-saver::before {
    width: 9rem;
    height: 9rem;
  }
}
.video__content-saver::after {
  position: absolute;
  content: "";
  margin-left: 1rem;
  width: 0;
  height: 0;
  border-left: 4rem solid #689ff2;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-right: 0;
  /*
  @media screen and (max-width: $tablet) {
  	width: 0;
  	height: 0;
  	border-left: 2rem;
  	border-top: 1rem;
  	border-bottom: 1rem;
  	margin-left: 0.5rem;
  }*/
}
@media screen and (max-width: 1439px) {
  .video__content-saver {
    margin: 2.1527777778vw 0;
  }
}
.video__content-img {
  width: 100%;
  height: auto;
  background-color: #161926;
}

.promises__container {
  margin: 0 auto;
  width: 1170px;
  margin-top: 12rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1439px) {
  .promises__container {
    width: 81.25vw;
  }
}
@media screen and (max-width: 500px) {
  .promises__container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.promises__wrapper {
  position: relative;
}
.promises__img-wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.promises__img-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(25, 28, 41, 0.84), rgba(25, 28, 41, 0.84));
}
@media screen and (max-width: 900px) {
  .promises__img-wrapper {
    position: absolute;
  }
}
.promises__img {
  max-width: 100%;
}
@media screen and (max-width: 1439px) {
  .promises__img {
    max-width: 81.25vw;
  }
}
.promises__content {
  max-width: 770px;
  position: absolute;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 7rem 10rem;
  padding: 7.5rem 0 7.5rem 7.5rem;
  margin-left: 4.5rem;
  top: 4.5rem;
  bottom: 4.5rem;
  right: 0;
  opacity: 0.9;
  background-color: #161926;
}
@media screen and (max-width: 900px) {
  .promises__content {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1439px) {
  .promises__content {
    padding: 5.2083333333vw;
    padding-right: 0;
    gap: 4.8611111111vw 6.9444444444vw;
  }
}
@media screen and (max-width: 500px) {
  .promises__content {
    padding: 2rem;
  }
}
.promises__list-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (max-width: 900px) {
  .promises__list-item {
    align-items: center;
    text-align: center;
  }
}
.promises__list-title {
  font-size: 2.4rem;
  line-height: 200%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
}
.promises__list-descr {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 144%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.promises__list-button {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .promises__list-button {
    justify-content: center;
  }
}
.promises__list-link {
  display: inline-block;
  padding: 3.3rem 8.9rem;
  border: 1px solid #515773;
  text-decoration: none;
  text-transform: uppercase;
  color: #53f3cd;
}
.promises__list-link--text {
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0.08em;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.promises__list-link--text::before {
  position: absolute;
  content: "";
  top: 1.1rem;
  bottom: -0.4rem;
  right: -0.7rem;
  left: 1rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1439px) {
  .promises__list-link {
    padding: 2.2916666667vw 6.1805555556vw;
  }
}
@media screen and (max-width: 900px) {
  .promises__list-link {
    padding: 3.3rem 8.9rem;
  }
}
@media screen and (max-width: 500px) {
  .promises__list-link {
    padding: 2rem 4.5rem;
  }
}
.promises__list-link--text::before {
  background-color: #53f3cd;
  opacity: 0.3;
}
.promises__list-link:hover {
  border-color: #02e0ab;
  color: #02e0ab;
}
.promises__list-link:hover > .promises__list-link--text::before {
  background-color: #02e0ab;
}

.reviews__container {
  margin: 0 auto;
  width: 1170px;
  margin-top: 12rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1439px) {
  .reviews__container {
    width: 81.25vw;
  }
}
@media screen and (max-width: 500px) {
  .reviews__container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.reviews__wrapper {
  display: flex;
  flex-direction: column;
}
.reviews__title {
  font-size: 4.4rem;
  line-height: 5.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
}
.reviews__title--strong {
  font-style: italic;
}
.reviews__title--strong {
  color: #689ff2;
}
.reviews__descr {
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 1.8rem;
  line-height: 144%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
@media screen and (max-width: 1439px) {
  .reviews__descr {
    margin-bottom: 3.4722222222vw;
  }
}
@media screen and (max-width: 500px) {
  .reviews__descr {
    margin-bottom: 2rem;
  }
}
.reviews__bar {
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  display: flex;
  align-items: center;
}
.reviews__item {
  display: flex;
  position: relative;
}
.reviews__item-img-wrapper {
  width: 100%;
  position: relative;
}
.reviews__item-img-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(25, 28, 41, 0.6);
}
.reviews__item-img {
  width: 100%;
}
.reviews__item-text-wrapper {
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  left: 4rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews__item-text {
  font-size: 1.6em;
  line-height: 162%;
  opacity: 0.8;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.reviews__item-name {
  font-size: 1.6em;
  line-height: 162%;
  opacity: 0.8;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.contact__container {
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin: 0 auto;
  width: 1170px;
}
@media screen and (max-width: 1439px) {
  .contact__container {
    width: 81.25vw;
  }
}
@media screen and (max-width: 500px) {
  .contact__container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.contact__wrapper {
  display: flex;
  gap: 23rem;
  padding-top: 6rem;
  border-top: 1px solid #515773;
}
@media screen and (max-width: 1439px) {
  .contact__wrapper {
    padding-top: 4.1666666667vw;
    gap: 15.9722222222vw;
  }
}
@media screen and (max-width: 900px) {
  .contact__wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .contact__wrapper {
    gap: 20px;
  }
}
.contact__info, .contact__form-wrapper {
  width: 100%;
  max-width: 50%;
}
@media screen and (max-width: 900px) {
  .contact__info, .contact__form-wrapper {
    max-width: 100%;
  }
}
.contact__title {
  margin-top: 2.1rem;
  font-size: 4.4rem;
  line-height: 5.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
}
.contact__title--strong {
  font-style: italic;
}
@media screen and (max-width: 1439px) {
  .contact__title {
    margin-top: 3.4722222222vw;
  }
}
.contact__title--strong {
  color: #689ff2;
}
.contact__descr {
  margin-top: 2.9rem;
  font-size: 1.8rem;
  line-height: 144%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.contact__descr--braker {
  display: block;
}
@media screen and (max-width: 1161px) {
  .contact__descr--braker {
    display: inline;
  }
}
@media screen and (max-width: 900px) {
  .contact__descr--braker {
    display: block;
  }
}
@media screen and (max-width: 327px) {
  .contact__descr--braker {
    display: inline;
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.contact__input {
  width: 100%;
  padding-bottom: 1.2rem;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-style: italic;
  font-size: 1.8rem;
  line-height: 111%;
  letter-spacing: 0.08em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #161926;
}
.contact__input:focus {
  border-color: #689ff2;
}
.contact__input::-moz-placeholder {
  font-style: italic;
  font-size: 1.8rem;
  line-height: 111%;
  letter-spacing: 0.08em;
  opacity: 0.5;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
}
.contact__input:-ms-input-placeholder {
  font-style: italic;
  font-size: 1.8rem;
  line-height: 111%;
  letter-spacing: 0.08em;
  opacity: 0.5;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
}
.contact__input::placeholder {
  font-style: italic;
  font-size: 1.8rem;
  line-height: 111%;
  letter-spacing: 0.08em;
  opacity: 0.5;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
}
.contact__input--email:focus:invalid {
  border-color: #bc3f3f;
}
.contact__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  border: none;
  background-color: #161926;
}
.contact__btn:hover > .contact__btn-text {
  color: #02e0ab;
}
.contact__btn:hover > .contact__btn-text::before {
  background-color: #02e0ab;
}
.contact__btn-text {
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0.08em;
  transition: all 0.3s ease-in-out;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #53f3cd;
}
.contact__btn-text::before {
  position: absolute;
  content: "";
  top: 1.1rem;
  bottom: -0.4rem;
  right: -0.7rem;
  left: 1rem;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
  background-color: #53f3cd;
}

.footer__container {
  margin: 0 auto;
  width: 1170px;
}
@media screen and (max-width: 1439px) {
  .footer__container {
    width: 81.25vw;
  }
}
.footer__wrapper {
  padding: 3rem 0;
  justify-content: space-between;
  border-top: 1px solid #515773;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}
.footer__text {
  font-size: 1.4rem;
  line-height: 186%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.6;
}
.footer__link {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 171%;
  letter-spacing: 0.08em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.footer__middle {
  gap: 1.2rem;
  display: flex;
  align-items: center;
}
.footer__right {
  gap: 3.2rem;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=style.css.map */